//Brand Color
$color-primary: #409eff;
$color-primary-hover: #66b1ff;

//Functional Color
$color-success: #67c23a;
$color-success-check: #28a745;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

//Font Color
$color-text-primary: #303133;
$color-text-regular: #606266;
$color-text-secondary: #909399;
$color-text-placeholder: #c0c4cc;

//Border Color
$border-color-base: #d0d3d8;
$border-color-light: #e4e7ed;
$border-color-lighter: #ebeef5;
$border-color-extra-light: #f2f6fc;

//Background Color
$color-white: #fff;
$color-black: #000;
$background-color-base: #f5f7fa;

//Responsive breakpoint
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 1200px;
$larger-screen: 1368px;
