@use "/src/assets/scss/variables.module.scss" as *;

.outlined.primary {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid $border-color-base;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: $color-text-primary;
  &:focus {
    border: 2px solid $color-primary;
  }
}

.large {
  font-size: 1.2em;
  padding: 0 20px;
}

.medium {
  font-size: 1.1em;
  padding: 4px 12px;
}
