@use "/src/assets/scss/variables.module.scss" as *;

.large {
  width: 100%;
  height: 52px;
  font-size: 1.2em;
  font-weight: 600;
}
.contained.primary {
  border: none;
  border-radius: 5px;
  color: $color-white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;

  &.primary {
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-hover;
    }
  }
}
